<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>
<header>
	<title>Autohotran Beta!</title>		
</header>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#"><span class="site-title">Autohotran</span> <span class="beta">beta!</span></a>
		<div class="collapse navbar-collapse" id="navmenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#">Hotrans de Hoje</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Pesquisar Hotran</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Quem Somos</a></li>				
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="hotran-update">
			<div>Útima Atualização:</div>
			<div><%= hotranUpdate %></div>
			<hr>
			<div><%= hotrans.length %> novos hotrans foram capturados hoje!</div>
		</div>
		<div class="hotran-list">
			<table class="table table-responsive">
				<thead>
					<tr>
						<td>Companhia aérea</td>
						<td>Aeronave</td>
						<td>Voo</td>
						<td>Assentos</td>
						<td>Tipo</td>
						<td>Solicitação</td>
						<td>Vigência</td>
						<td>Origem</td>
						<td>Destino</td>
						<td>Horário Partida</td>
						<td>Horário Chegada</td>
						<td>Equipamento Alterado</td>
					</tr>
				</thead>
				<tbody>
					<% hotrans.forEach(function(hotran) { %>
					<tr>
						<td><%= hotran.nome_empresa %></td>
						<td><%= hotran.aeronave %></td>
						<td><%= hotran.cod_empresa + hotran.voo %></td>
						<td><%= hotran.assentos %> pax</td>
						<td><%= hotran.tipo %></td>
						<td><%= moment(hotran.data_solicitacao, 'YYYY-MM-DD').format('DD-MM-YYYY') %></td>
						<td><%= moment(hotran.data_vigencia, 'YYYY-MM-DD').format('DD-MM-YYYY') %></td>
						<td><%= hotran.aeroporto_origem %></td>
						<td><%= hotran.aeroporto_destino %></td>
						<td><%= hotran.horario_partida %></td>
						<td><%= hotran.horario_chegada %></td>
						<td><%= hotran.equipamento_alterado %></td>
					</tr>
					<% }); %>
				</tbody> 
			</table>
		</div>	
		
	</div>
	<footer class="navbar footer">Copyright © <%= year %> - Felzend Network Inc.</footer>
</body>
</html>